body{
  background-color: #f2fbf8;
}

.col-main-nav{
  margin-top: 5px;
}

.content-nav{
  margin-top: 15px;
}

.description-item-container{
	padding-top: 45px;
}

.main-navbar{
	background-color: #2a202b;
	border-color: #2a202b;
  height: 80px;

	a{
		color: #fff !important;
		font-weight: bold;
	}
}

.navbar{
	border-radius: 0;
  margin-bottom: 0;
}

.carousel-control.left{
	
}

.control-mains{
	background: none !important;

	.control-mains:hover{
		background-color: none;
	}
}

.glyphicon-chevron-right:before{
	color: #44a586;
}

.glyphicon-chevron-left:before{
	color: #44a586;	
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	margin: auto;
}

.thumbnail-various{
	height: 450px;
}

.thumbnail{
  border-radius: 0;
  padding: 0;

  img{
    border-bottom: 1px solid #ccc;
  }
}

.logo-middle{
  display: block;
  height: 65px;
  margin: 50px auto;
  width: 135px;
}

.main-logo{
  height: 65px;
  margin-top: -22px;
  width: 135px
}

.recent-title{
  color: #44a586;
  border-bottom: 1px solid #44a586;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 15px;
  text-align: center
}

.row-recent-products{
  margin-top: 22px;
}

.recent-deals-row{
	background-color: #f2fbf8;
	margin-left: 0;
    margin-right: 0;

    h3{
    	font-family: 'Roboto', sans-serif;
    	font-weight: 400;
    	color: #44a586;
    }

    p{
    	font-family: 'Roboto', sans-serif;
    	font-weight: 400;
    }
}

$tl: 0.6s; // transition length

  span.glyphicon-search{
    top: 2px;
  }

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 40px;height: 40px;
  border-radius: 20px;border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);
  & + label .search-icon {    color: black    }
  &:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    & + label .search-icon {    color: white    }
  }
  &:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
    border: none;outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
    & + label .search-icon {    color: black;    }
  }
  &:not(:focus) {    text-indent:-5000px;    } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
  position: relative;left: -5000px;
}

.search-icon {
  position: relative;
  left: -31px;
  color: white;
  cursor: pointer;
}


@media (min-width: 768px){

  .navbar-nav {
      float: right;
      margin: 0;
  }
}

.search-results-title{
    color: #f60;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
}

.slide-it{
  display: block;
  height: 400px;
  width: 100%;
}

.container-all-products{
  background-color: #2a202b;

  #products{
    margin-top: 50px;
  }
}

#main-slider{
  background: rgba(255,255,255,0.95);
}

.item-main-slider-1{
  background: rgba(255,255,255,0.95) url("https://s3.amazonaws.com/etsoniastorebucket/bg/apple-macbook-pro-13.png") 300px no-repeat;
  background-size: contain;
}

.item-main-slider-2{
  background: rgba(255,255,255,0.95) url("https://s3.amazonaws.com/etsoniastorebucket/bg/Galaxy-S6-Edge.png") 300px no-repeat;
  background-size: contain;
}

.item-main-slider-3{
  background: rgba(255,255,255,0.95) url("https://s3.amazonaws.com/etsoniastorebucket/bg/iphone6.png") 280px no-repeat;
  background-size: contain;
}

.item-main-slider-4{
  background: rgba(255,255,255,0.95) url("http://fooyoh.com/files/attach/images/1097/738/458/013/iphone6_concept_hajek_5.jpg") no-repeat;
  background-size: contain;
}

.item-main-slider-5{
  background: rgba(255,255,255,0.95) url("http://cdn2.alphr.com/sites/alphr/files/styles/16x9_860/public/images/dir_434/it_photo_217369.jpg?itok=daGK5Yaq") no-repeat; 
  background-size: contain; 
}

.slider-ct{
  bottom: 40px;
  position: absolute;
  right: 130px;
  width: 250px;

  p{
    color: #44a586;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
  }
}

.btn-main-slider{
  background: none;
  border-radius: 10px;
  border: 2px dashed #44a586;
  color: #44a586;
  font-size: 16px;
  padding: 6px;
  text-align: center;
  width: 120px;

  &:hover{
    background-color: #44a586;
    border: 2px solid #fff;
    color: #fff;
  }

}

@media screen and (min-width: 768px){
  .carousel-caption {
    left: 20%;
    right: 30%;
    padding-bottom: 30px;
  }
}


// Sign In Form
/* .content-singin-form{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
} */

.content-singin-form{
  background-color: #fff;
  border-radius: 10px;
  margin: 50px auto;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  width: 32%;
  display: block;
}

@media (min-width: 600px) and (max-width: 1200px){
  .content-singin-form{
    width: 50%;
  }
}

@media (min-width: 600px) and (max-width: 792px){
  .content-singin-form{
    width: 80%;
  }
}

@media (min-width: 220px) and (max-width: 599px){
  .content-singin-form{
    width: 96%;
  }
}

.input-login{
  border-radius: 0;
  border: 1px solid #44a586;
  box-shadow: none !important;
  color: #44a586;
  padding: 20px 15px;

  &:active{
    box-shadow: none !important;
  }
}

.form-control:focus{
  border: 1px solid #a0b3b0 !important;
}

.fa-envelope-o, .fa-lock{
  color: #d4d4d4;
  display: inline-block;
  font-size: 20px;
  left: 499px;
  position: absolute;
  top: 227px;
}

.fa-lock{
  top: 286px;
  left: 502px;
}

.form-titles{
  border-bottom: none;
  margin-top: 0;
  padding-top: 34px;
  margin-bottom: 20px;
  color: #44a586;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #ccc !important;
}

.btn-log{
  background-color: #44a586;
  color: #fff;
  display: block;
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  width: 100%;

  &:hover{
    color: #fff;
    background-color: #5F9EA0;
  }
}

.optform{
  color: #44a586;
  font-size: 16px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.opt-link{
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  text-decoration: underline;

  &:hover{
    color: #5F9EA0;
  }
}

.remember-option{
  color: #44a586;
  font-size: 16px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;;
}